<h1>Rukh's Store</h1>
<p>blow some dough</p>

<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div style="height:150px;">
          <%= image_tag product.image.url(:thumb) %>
        </div>
        <p><a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
            <span class="glyphicon glyphicon-plus"></span>Quick Info
          </a>
        </p>
        <p><strong><%= number_to_currency product.price %></strong></p>
        <p><%= product.description %></p>
        <p>Made by: <%= product.brand %></p>
          <%= form_tag('/add_to_cart') do %>
          <div class="hidden">
              <%= number_field_tag :product_id, product.id %>
          </div>
        <p>
                <%= number_field_tag :quantity, nil, min: 1, placeholder: "How Many?" %></p>
        <p><%= submit_tag "Buy It!", class: "btn btn-danger" %></p>
      </div>
    </div>
  </div>
<% end %>
    <!-- Modal -->
      <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
            </div>
            <div class="modal-body">
              <p><%= image_tag product.image.url(:thumb) %></p>
              <p><%= number_to_currency product.price %></p>
              <p><%= product.description %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
        <!--End Modal-->

      </div>
    </div>
  </div>
  <% end %>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
